*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    width: 100%;
}

image {
    display: block;
    max-width: 100%;
}

body {  
    font-family: 'IBM Plex Mono', monospace;
    background-color: #fefefa;
    color: #1f0909;
}

h1 {
    border-bottom: solid 1px rgb(197,197,197);
    padding-bottom: 0.75em;
    margin-bottom: 1rem;
}

.container {
    max-width: 65ch;
    padding-top: 2rem;
    margin: 0 auto;
    padding-bottom: 2rem;
}

p {
    margin-bottom: 1.5em;
}

h2 {
    margin-top: 1.5em;
}

code {
    background-color: #dadada;
    padding-left: 2px;
    padding-right: 2px;
}

.token.operator {
    background: none;
}

.blog-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.post-date {
    font-weight: normal;
}